---
import LayoutAuth from "@/layouts/LayoutAuth.astro";
import { getCollection } from "astro:content";
import IconLinkExternal from "@/icons/IconLinkExternal.astro";
import IconArrowUp from "@/icons/IconArrowUp.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@/i18n/utils";
import type { languageList } from "@/i18n/ui";
import TooltipCursor from "@/components/TooltipCursor.astro";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(
    currentLang as keyof typeof languageList,
);

const { slug } = Astro.params;

const semanas = await getCollection("semanas", ({ id }: any) => {
    return id.startsWith(`${currentLang}/`);
});

let tema;
for (const semana of semanas) {
    tema = semana.data.temas.find((t: any) => t.slug === slug);
    if (tema) break;
}

if (!tema) {
    return Astro.redirect("/404");
}
---

<LayoutAuth>
    <div class="space-y-2 pb-10 pt-3 text-white">
        <div class="flex justify-between items-center">
            <div class="p-2 flex gap-2 items-center">
                <a
                    href={getRelativeLocaleUrl(currentLang, "/temas")}
                    class="w-12 h-12 rounded-full bg-black/40 shadow-inner shadow-white/40 flex justify-center items-center hover:scale-105 cursor-pointer group relative"
                >
                    <IconArrowUp className="-rotate-90 w-5 h-5" />
                    <TooltipCursor
                        label="Volver"
                        position="top-[51px] left-1/2"
                    />
                </a>
                <p class="uppercase font-semibold">{tema.titulo}</p>
            </div>
        </div>
        <div class="text-center bg-violet-500/70 rounded-lg p-2">
            <p class="text-sm text-white font-semibold">
                {tema.tips}
            </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-0 sm:gap-4">
            <!-- Resources -->
            <div
                class="col-span-2 rounded-lg w-full p-4 mb-2 sm:mb-0 bg-white/10 backdrop-blur-2xl"
            >
                <div class="p-2 text-center font-buycat text-2xl text-white">
                    <p>{translateLabels("topics.details.resource.title")}</p>
                </div>
                <div
                    class="overflow-y-auto sm:h-[30rem] h-[15rem] border-white/15 w-full"
                    id="scrollItem"
                >
                    <div class="block sm:hidden">
                        {
                            tema.recursos ? (
                                tema.recursos.map((recurso: any) => (
                                    <a
                                        href={recurso.url}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="relative group"
                                    >
                                        <div class="py-3 px-2 flex items-center justify-between group cursor-pointer w-full bg-black/10 rounded-lg mb-1 inset-0">
                                            <p class="text-sm sm:text-base group-hover:text-cyan-300">
                                                {recurso.nombre}
                                            </p>
                                            <IconLinkExternal className="w-5 h-5 group-hover:text-cyan-300" />
                                        </div>
                                        <TooltipCursor
                                            label={recurso.tipo}
                                            position="bottom-1/2 right-5"
                                        />
                                    </a>
                                ))
                            ) : (
                                <div class="flex items-center justify-center text-center bg-white/15 border-white/20 rounded-lg sm:h-[30rem] h-[15rem] w-full">
                                    <p class="text-white dark:text-gray-400 bg-black/10 px-3 py-2 rounded-lg">
                                        {translateLabels(
                                            "topics.details.no.resource",
                                        )}
                                    </p>
                                </div>
                            )
                        }
                    </div>
                    <div class="hidden sm:block w-full">
                        <div
                            class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3 gap-2 w-full"
                        >
                            {
                                tema.recursos ? (
                                    tema.recursos.map((recurso: any) => (
                                        <a
                                            href={recurso.url}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="py-3 px-2 group cursor-pointer w-full bg-black/15 hover:bg-black/25 rounded-lg relative text-sm h-20 text-center content-center"
                                        >
                                            {recurso.nombre}
                                            <TooltipCursor
                                                label={recurso.tipo}
                                                position="top-[70%] -right-6"
                                            />
                                        </a>
                                    ))
                                ) : (
                                    <div class="flex items-center justify-center text-center bg-white/5 border-white/20 rounded-lg sm:h-[30rem] h-[15rem] sm:col-span-full">
                                        <p class="text-white dark:text-gray-400 bg-black/10 px-3 py-2 rounded-lg">
                                            {translateLabels(
                                                "topics.details.no.resource",
                                            )}
                                        </p>
                                    </div>
                                )
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- tasks -->
            <div
                id="scrollItem"
                class="sm:h-[35rem] overflow-y-auto h-[10rem] border-white/50 backdrop-blur-3xl col-span-1 rounded-lg w-full bg-white/10"
            >
                {
                    tema.tareas ? (
                        tema.tareas.map((tarea: any) => (
                            <details
                                class="custom-details w-full rounded-lg border bg-white/10 border-white/20 backdrop-blur-lg dark:border-gray-700 transition-colors cursor-pointer relative mb-2 text-white"
                                open
                            >
                                <summary class="text-gray-white dark:text-gray-300 flex items-center justify-between list-none font-semibold px-4 py-3">
                                    {translateLabels(
                                        "topics.details.prefix.task",
                                    )}
                                    : {tarea.titulo}
                                    <svg
                                        class="w-5 h-5 transform transition-transform duration-200 group-open:rotate-90"
                                        fill="none"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M9 5l7 7-7 7"
                                        />
                                    </svg>
                                </summary>
                                <div class="m-2 text-gray-50 dark:text-gray-100 bg-black/10 p-3 rounded-md text-sm sm:text-base md:text-sm">
                                    {tarea.descripcion}
                                </div>
                            </details>
                        ))
                    ) : (
                        <div class="flex items-center justify-center text-center bg-white/5 border-white/20  rounded-lg sm:h-[35rem] h-[10rem]">
                            <p class="text-white dark:text-gray-400 bg-black/10 px-3 py-2 rounded-lg">
                                {translateLabels("topics.details.no.task")}
                            </p>
                        </div>
                    )
                }
            </div>
        </div>
    </div>
    <style>
        details > summary {
            list-style: none;
        }
        details > summary::-webkit-details-marker {
            display: none;
        }

        details[open] svg {
            transform: rotate(90deg);
        }
    </style>
</LayoutAuth>
