---
const { bg, content, picture, name, link_social } = Astro.props;
import IconGithub from "@/icons/IconGithub.astro";
---

<div class="relative">  
    <div
        class="bg-gray-400/5 backdrop-blur-2xl inset-0 bottom-3 absolute rounded-lg -left-3 -top-3 right-3"
    >
    </div>
    <div
        class={`${bg} backdrop-blur-2xl px-10 py-5 lg:px-16 xl:px-16 2xl:px-32 2xl:py-10 rounded-lg space-y-4 text-sm border border-white/20`}
    >
        <p class="font-light text-pretty text-white">
            {content}
        </p>
        <div class="flex items-center space-x-4">
            <img
                loading="lazy"
                src={picture}
                alt="User Picture"
                class="size-10 object-cover rounded-full"
            />
            <div>
                <p class="font-semibold">{name}</p>
                <a href={link_social} class="hover:text-cyan-400 text-cyan-200 flex gap-1 items-center content-center text-sm">
                  <IconGithub className="size-4"/>
                  Github
                </a>
            </div>
        </div>
    </div>
</div>
