---
import { languageList } from "@/i18n/ui";
const currentUrl = Astro.url;
const currentLang = Astro.currentLocale || "es";
const n_paths = currentUrl.pathname.split("/");
let isDetailTopic = n_paths.length === 5;

const redirectPath = (lang: string) => {
    if (isDetailTopic) {
        return `/${lang}/temas/${n_paths[3]}/`;
    }
    if (currentUrl.pathname !== `/${currentLang}/temas/`) {
        return `/${lang}`;
    } else {
        return `/${lang}/temas/`;
    }
};
---

<div
    class="fixed right-[8rem] xl:right-[21rem] xs:right-[8rem] 2xl:right-[23rem] mt-2.5 top-16 z-20 sm:max-w-60 max-w-96 opacity-0 invisible transition-all duration-200"
    id="select-menu"
>
    <nav
        class="flex flex-col gap-1 p-1 text-gray-300 font-semibold text-sm sm:text-base rounded-xl border border-white/10 bg-black/25 w-full backdrop-blur-3xl shadow-inner shadow-white/50 text-center"
        id="b_el"
    >
        {
            Object.entries(languageList).map(
                ([lang, label]: [string, string]) => {
                    const path = redirectPath(lang);
                    return (
                        <a
                            class="p-2 hover:bg-black/10 hover:text-white rounded-lg transition-colors cursor-pointer text-sm"
                            href={path}
                        >
                            <code class="uppercase font-semibold">{lang}</code>{" "}
                            {label}
                        </a>
                    );
                },
            )
        }
    </nav>
</div>

<script>
    const selectToggle = document.querySelector("#select-toggle");
    const selectMenu = document.querySelector("#select-menu") as HTMLElement;
    const b_el = document.querySelector("#b_el");
    // Función para actualizar la posición del menú
    function updateMenuPosition() {
        if (selectToggle && selectMenu) {
            const buttonRect = selectToggle.getBoundingClientRect();
            selectMenu.style.top = `${buttonRect.bottom + 8}px`;
        }
        b_el?.classList.add("bg-black/50");
        b_el?.classList.remove("bg-black/25");
    }

    // Actualizar posición cuando se abre el menú
    selectToggle?.addEventListener("click", () => {
        selectMenu?.classList.toggle("opacity-0");
        selectMenu?.classList.toggle("opacity-100");
        selectMenu?.classList.toggle("invisible");
        selectMenu?.classList.toggle("visible");
    });

    // Actualizar posición al hacer scroll o resize
    window.addEventListener("scroll", updateMenuPosition);
    window.addEventListener("resize", updateMenuPosition);
</script>
