---
import CardTestimonial from "@/components/CardTestimonial.astro";

const testimonials = [
  {
    bg: "bg-pink-400/30",
    content: "Fue una experiencia increíble, conocí a muchas personas y aprendí mucho de cada una de ellas.",
    picture: "https://avatars.githubusercontent.com/u/145782392?v=4",
    name: "Karol",
    link_social: "https://github.com/karoandrea",
  },
  {
    bg: "bg-pink-400/30",
    content: "Es una comunidad increíble que me ha brindado la oportunidad de aprender.",
    picture: "https://avatars.githubusercontent.com/u/173434223?s=64&v=4",
    name: "Ingrid",
    link_social: "https://github.com/orgs/WarmiDev/people/inSahr",
  }
];
---

<section class="h-auto pt-10 sm:pt-20" id="testimonials" >
    <div class="text-center mb-8">
        <h2 class="text-2xl font-bold">Testimonios</h2>
        <i
            class="border-b-2 border-pink-400 dark:border-blue-400 h-2 w-16 inline-block"
        ></i>
    </div>

    <div style="mask-image: linear-gradient(to right, #0f172a 85%, transparent);">
      <div class="grid grid-cols-1 md:grid-cols-2 sm:gap-8 gap-4 py-10 my-10" style="mask-image: linear-gradient(to left, #0f172a 85%, transparent);">
        { testimonials.map((testimonial) => (
          <CardTestimonial
            bg={testimonial.bg}
            content={testimonial.content}
            picture={testimonial.picture}
            name={testimonial.name}
            link_social={testimonial.link_social}
          />
        ))
        }
      </div>
    </div>
</section>
